.main{
    background-color: rgb(93, 120, 148,0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    height: 90%;
}

.title{
    text-align: center;
    margin-top: 50px;
}

.player_name{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
}

.field{
    background-color: rgb(255,255,255,1);
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    margin-bottom: 50px;
}

.buttons{
    border: 2px solid rgb(44, 49, 59);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgray;
    height: 50px;
    font-size: xx-large;
}
.buttons:active{
    background-color: blue;
}
.titlee{
    font-size: 50px;
    -webkit-text-stroke: 2px rgb(12, 10, 72);
    -webkit-text-fill-color: transparent;
    transform: translateY(1000px);
}

.button_container{
    display: flex;
    column-gap: 20px;
    margin-bottom: 30px;
}

.reset_button {
    height: 30px;
    width: 140px;
    background-color: black;
    color: white;

}

h3{
    font-size: 25px;
    -webkit-text-stroke: 2px black;
    -webkit-text-fill-color: darkgray;
    font-family: Calibri;
    font-style: italic;

}